# Archivos de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
.vscode/
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Archivos de configuración de Mac
.idea/
*.DS_Store

# Archivos de configuración de Windows
Thumbs.db
ehthumbs.db

# Archivos de configuración de Android
*.apk
*.ap_
*.dex
*.class
*.jar
*.keystore
*.so
*.zipalign

# Archivos de configuración de iOS
*.ipa
*.dSYM.zip
*.dSYM

# Archivos de configuración de MAUI
AppPackages/
AppPackagesBackup/
AppPackagesStaging/
AppPackagesTest/
AppPackagesTestBackup/
AppPackagesTestStaging/

# Archivos de configuración de Tizen
*.tpk
*.tpk.xml
*.tpk.sig

# Archivos de configuración de Xamarin
*.xamarin
*.xamarin.android
*.xamarin.ios
*.xamarin.mac
*.xamarin.watchos
*.xamarin.tvos
*.xamarin.forms
*.xamarin.forms.android
*.xamarin.forms.ios
*.xamarin.forms.mac
*.xamarin.forms.watchos
*.xamarin.forms.tvos

# Archivos de configuración de MAUI
*.maui
*.maui.android
*.maui.ios
*.maui.mac
*.maui.watchos
*.maui.tvos
*.maui.forms
*.maui.forms.android
*.maui.forms.ios
*.maui.forms.mac
*.maui.forms.watchos
*.maui.forms.tvos

# Archivos de configuración de Rider
.idea/
*.sln.iml
