# Archivos de compilación
bin/
obj/

# Archivos de paquete
*.nupkg
*.snupkg

# Paquetes NuGet instalados localmente
packages/
*.nuget/

# Archivos de usuario y configuraciones personales
*.user
*.suo
*.userprefs

# Configuraciones de Visual Studio
.vs/
*.vssscc
*.vspscc

# Archivos de depuración y registros
*.log
*.tlog

# Directorios de publicación y empaquetado
publish/
AppPackages/
PackageTmp/

# Archivos temporales
*.tmp
*.temp
*.cache

# Archivos generados del paquete de app
*.apk
*.aab
*.ipa
*.app

# Archivos del sistema
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Archivos para macOS
*.DS_Store

# Archivos de configuración local
local.settings.json
